extends ../application.pug

block content
  .container
    h1 Bulletin board
    hr
    each notice in notices
      .card.card-block
        .row
          .col-md-4.hidden-md-down
          .col-xs-12.col-md-8
            //- goes to notices.js file and /:id get request
            a(href="/notices/" + notice.id)
              h2= notice.title
            h5= notice.id
            p= notice.body
            .row
              .col-xs-3
                a.btn.btn-warning(href='/notices/' + notice.id +'/edit') Edit Post
              .col-xs-6.text-xs-right
                form(action="/notices/" + notice.id method="POST")
                  input(type='hidden', name='_method', value='DELETE')
                  button(type="submit" class="btn btn-danger btn-block" data-notice=notice.id) DELETE
